@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&display=swap');

.main-ctnr {
    text-align: center;
}

.table-headers {
    display: flex;
    justify-content: center;
    font-family: 'Lexend Mega', sans-serif;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    /* min-width: 900px; */
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 15px;
}

.coin-header {
    margin-left: 120px;
}

.price-header {
    margin-left: 148px;
}

.market-cap-header {
    margin-left: 110px;
}

.price-change-header {
    margin-left: 45px;
}

.volume-header {
    margin-left: 20px;
}
