@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&display=swap');

.main-ctnr {
    text-align: center;
}

.main-ctnr input {
    text-align: center;
    width: 300px;
}

.inp-ctnr {
    padding-left: 30px;
}