@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&display=swap');

.chart-ctnr {
    position: relative;
    margin: auto;
}

@media only screen and (min-width: 1024px) {
    .chart-ctnr {
        width: 1024px;
    }
}

@media only screen and (min-width: 768) {
    .chart-ctnr {
        width: 400px;
        background-color: aliceblue;
    }
}

.titles {
    font-family: 'Lexend Mega', sans-serif;
}

.bt {
    font-family: 'Roboto', sans-serif;
}