@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&display=swap');

.coin-data-ctnr {
    text-align: center;
    
}
.flex-column {
    font-family: 'Roboto', sans-serif;
}

.coin-data-category {
    font-family: 'Lexend Mega', sans-serif;
}