@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&display=swap');

.chart-ctnr {
    position: relative;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .chart-ctnr {
      min-width: 600px;
    }
  }

.titles {
    font-family: 'Lexend Mega', sans-serif;
}

.bt {
    font-family: 'Roboto', sans-serif;
}