/* @media only screen and (max-width: 600px) {
    .Footer {
      min-width: 600px;
    }
  } */

.Footer {
    background: #D8C3A5;
    color: #706c6d;
    padding: 2em;
    padding-top: 1em;
    height: 2vh;
    min-width: 1450px;
}

.footer-text {
    margin-left: 1%;
}

.icon {
    margin-left: 84%;
    /* margin-right: 16%; */
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }