/* /* .ctnr {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.cryptotracker-app {
  flex: 1, 0, auto;
  height: 100%;
  overflow: auto;
}
.Footer {
  flex-shrink: 0;
  overflow: hidden;
}