/* /* .ctnr {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.cryptotracker-app {
  flex: 1, 0, auto;
  /* overflow: auto; */
}
.Footer {
  height: 10%;
  flex-shrink: 0;
  overflow: hidden;
}