/* /* .ctnr {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.cryptotracker-app {
  /* background-color: #EAE7DC; */
  flex: 1 0 auto;
  /* overflow: visible; */
  min-height: 100%;
  /* min-width: 1086px; */
}
.ftr {
  min-height: 100%;
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  /* position: fixed; */
  width: 100%
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .cryptotracker-app {
    min-width: 1086;
  }
}